.board {
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(8, 150px);
  width: fit-content;
  border: 2px solid #333;
}

.square {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.white {
  background-color: #eee;
}

.square.black {
  background-color: #666;
}

.square svg {
  width: 80%;
  height: 80%;
}
