.board {
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(8, 150px);
  width: fit-content;
  border: 2px solid #333;
}

.square {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.validmove {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(30, 144, 255, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.square.white {
  background-color: #eee;
}

.square.black {
  background-color: #666;
}

.square svg {
  width: 80%;
  height: 80%;
}
